<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | takagotch</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
       <a href="https://google.jp/">Google</a>
       is a <a href="https://google.jp">google</a> and
       <a href="https://google.com">screencast</a>
       to teach web development with
       <a href="http://google.org/">Google</a>.
       This is the sample application for the tutorial.
    </p>
  </body>
</html>