<footer class="footer">
  <small>
    The <a href="https://example.com">Site</a>
	by <a href="https://takagotch.com">takagotch</a>
  </small>
  <nav>
    <ul>
	  <li><%= link_to "About", '#' %></li>
	  <li><%= link_to "Contact", '#' %></li>
	  <li><a href="http://takagotch.com">News</a></li>
	</ul>
  </nav>
</footer>